# This workflow builds the Wails application
# For more information see: https://wails.io/docs/guides/github-actions

name: Build

on:
  push:
    branches: [ "main" ]
    tags: [ "*" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        build: [
          { name: d2tool.exe, platform: windows/amd64, os: windows-latest },
        ]

    runs-on: ${{ matrix.build.os }}
    steps:
      - uses: actions/checkout@v4

      - uses: dAppServer/wails-build-action@main
        id: build
        with:
          build-name: ${{ matrix.build.name }}
          build-platform: ${{ matrix.build.platform }}
          package: true
          wails-build-webview2: embed
          go-version: 1.24.1
          node-version: 18.19.1
          wails-version: v2.11.0
